/%p#sessionflash= session[:flash]
.container
- if flash[:notice]
  .alert.alert-danger.alert-dismissible.fade.show{:role=>"alert"}
    = flash[:notice]
- if flash[:success]
  .alert.alert-success.alert-dismissible.fade.show{:role=>"alert"}
    = flash[:success]
    
- session[:flash] = nil
.container
  - provide(:title, "Log in")
  %h1 Log in
  .row
    .col-md-6.col-md-offset-3
      = form_for(:session, url: login_path) do |f|
        = f.label :email, class: session[:email]
        = f.email_field :email, class: 'form-control'
        = f.label :password
        = f.password_field :password, class: 'form-control --marginbottom16'
        = link_to "Forgot password?", new_password_reset_path  
        = f.submit "Log in", class: "btn btn-primary"

  %p
    %br  
    "Not a user?"
    =link_to 'Register', register_path