%p#flash= params[:flash]
%p#notice= params[:notice]
%p#sessionflash= session[:flash]

-session[:flash] = nil
%p "Hello"

%p
  %b Name:
  = @user.name
%p
  %b Email:
  = @user.email
%p
  %b Password:
  = @user.password
%p
  %b Current place:
  = @user.current_place
%p
  %b Is admin:
  = @user.is_admin

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
