.container
- if flash[:notice]
  .alert.alert-danger.alert-dismissible.fade.show{:role=>"alert"}
    = flash[:notice]

.container.jumbotron
  %h1.row Select a Category
  .row
    = form_tag practice_path, :method => :get do
      - @a_categories.each_with_index do |category,index|
        .form-check
          - if category.reviewStatus == "Approved"
            = check_box_tag "categories[#{category.category}]",1,false, class: "form-check-input"
            %label.form-check-label #{category.category}
      .row
        .mx-auto
        = submit_tag 'Start Practice', name:nil, class: "btn btn-lg btn-primary --margintop16"  
