!!!
%html
  %head

    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    :javascript
      window.MathJax = {
        extensions: ["tex2jax.js"],
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          displayMath: [ ['$$','$$'], ["\\[","\\]"] ]
        },
        "HTML-CSS": { fonts: ["TeX"] }
      };
    %script{:async => "", :src => "https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_HTMLorMML", :type => "text/javascript"}
      :cdata
    %title Flash Cards: Home
    
    / jQuery library
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"}
    // %script{:src =>"https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/contrib/auto-render.min.js", :integrity => "sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI", :crossorigin => "anonymous", :onload => "renderMathInElement(document.body)"}



    / Latest compiled and minified CSS
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", :rel => "stylesheet"}/
   
   
    / Latest compiled JavaScript
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false
    = javascript_include_tag 'application', 'data-turbolinks-track' => false
    = csrf_meta_tags
    
  %body
    :javascript
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          displayMath: [ ['$$','$$'], ["\\[","\\]"] ]
        }
      });
    :javascript
      function mathjax() {
        MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
        MathJax.Hub.Queue(["Reprocess",MathJax.Hub]);
      }
  
    %nav.navbar.navbar-expand-md.bg-dark.navbar-dark
      %a.navbar-brand{:href => "#"} PhD Flash Cards
      %button.navbar-toggler{"data-target" => ".dual-collapse2", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      .collapse.navbar-collapse.w-100.order-1.order-md-0.dual-collapse2
        %ul.navbar-nav.mr-auto
          %li.nav-item
            %a.nav-link{:href => "/home"}
              Home
              %span.sr-only (current)
          %li.nav-item
            %a.nav-link{:href => "/selcat"} Practice
          %li.nav-item
            %a.nav-link{:href => "/selquiz"} Quiz
      .navbar-collapse.collapse.w-100.order-3.dual-collapse2
        - if logged_in?
          %ul.navbar-nav.ml-auto
            %li.nav-item  
            - if User.find_by(id: session[:user_id]).reviewStatus == "Approved"   
              %a.nav-link{:href => "/admin_questions"} Your Questions
              %a.nav-link{:href => "/admin"} Users 
              %li.nav-item
                %a.nav-link{:href => "/categories"} Categories
            - else
              %a.nav-link{:href => "/questions"} Your Questions
              %li.nav-item
                %a.nav-link{:href => "/categories"} Categories
            %li.nav-item
              = link_to "Log out", logout_path, method: :delete, class:"nav-link"
        - else
          %ul.navbar-nav.ml-auto
            %li.nav-item
              %a.nav-link{:href => login_path} Login
          
    %br/
    = yield
    %br/
    %br/
    %br/
    %br/
    %br/
    %footer.footer.bg-dark
      .container
        %span.text-muted Last updated by Team CodeSquad; 
        /%span.text-muted Created by Team RubyGeeks; Updated by BestestSoftwareTeamEver
        %span.text-muted.float-right
          Source code available at 
          = link_to "Github", "https://github.com/Adityalocharla/PhD-Qual-Practice", target: "_blank"
          /= link_to "Github", "https://github.com/BestestSoftwareTeamEver/PhD-Qual-Practice", target: "_blank"
